language:
    - python
python:
    - "2.7"
    - "3.4"
    - "3.5"
    - "pypy"
install:
    - pip install -r requirements.txt
    - pip install -r requirements-dev.txt
    - pip install coveralls
script:
    - py.test --cov-report term-missing --cov=src test
after_success:
  coveralls
